# Telegram Bot Token
TELEGRAM_BOT_TOKEN=seu_token_aqui
# Whitelist of Telegram User IDs (comma-separated)
TELEGRAM_ALLOWED_USER_IDS=seu_id_aqui

# LLM Providers Keys and Models
GEMINI_MODEL=models/gemini-2.0-flash-lite-001
GEMINI_API_KEY=sua_chave_gemini

GROQ_MODEL=llama-3.1-8b-instant
GROQ_API_KEY=sua_chave_groq

DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_API_KEY=sua_chave_deepseek

# Configuration
DEFAULT_PROVIDER=gemini
MAX_ITERATIONS=5
MEMORY_WINDOW_SIZE=10
PORT=3000

# SQLite File Path
DB_PATH=./data/mordomoClaw.sqlite
